
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<div id="container">
    <ul>
        <li>
            Root node
            <ul>
                <li>Child node 1</li>
                <li>Child node 2</li>
            </ul>
        </li>
    </ul>
</div>*@


<div id="tree"></div>

@section styles {

    <link href="~/Content/themes/default/style.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/jstree.js"></script>
    <script>
        //$(function () {
        //    $('#container').jstree();
        //});
        $(function () {
            $('#tree').jstree({
                'core': {
                    'data': {
                        'url': function (node) {
                            return node.id === '#' ?
                                '/Category/GetParentCategories' :
                                '/Category/GetChildrenCategories';
                        },
                        'data': function (node) {
                            return { 'id': node.id };
                        }
                    }
                }
            });
            $('#tree').on("changed.jstree", function (e, data) {
                console.log(data.selected);
            });

        });
    </script>
}